<ks-card>
  <div ksCardBody>
    <form [formGroup]="form" class="login-page-body">
      <ks-form-field>
        <input formControlName="username" ks-input placeholder="username">
      </ks-form-field>
      <ks-form-field>
        <input formControlName="password" ks-input placeholder="password" type="password">
        <!--        <ks-error>Test</ks-error>-->
      </ks-form-field>
    </form>
  </div>
  <div class="login-page-footer" ksCardFooter>
    <button (click)="onSubmit()" ks-button type="button">Submit</button>
  </div>
</ks-card>
