@use '../../core/styles/palette';

.ks-pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: palette.$background-color;
  box-shadow: inset 2px 2px 3px #c7c7c7, inset -1px -1px 2px palette.$white;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 14px;
}

