<div class="card-container">
  <ks-card>
    <div ksCardHeader>Card Header</div>

    <div ksCardBody>Card body</div>

    <div ksCardFooter>Card Footer</div>
  </ks-card>
</div>
<ks-divider></ks-divider>
<button (click)="isOpenDialog = true" ks-button>Open Dialog</button>
<ks-dialog (close)="isOpenDialog = false" [isOpen]="isOpenDialog">
  <h2>Title</h2>
  <p>Dialog body content</p>
</ks-dialog>
<ks-divider></ks-divider>
<ks-tabs>
  <ks-tab title="Tab 1">
    <!-- Tab 1 content goes here -->
    <p>Content of Tab 1</p>
  </ks-tab>
  <ks-tab title="Tab 2">
    <!-- Tab 2 content goes here -->
    <p>Content of Tab 2</p>
  </ks-tab>
</ks-tabs>
