@use '../../core/palette';

.neumorphic-card {
  border-radius: 8px;
  background-color: palette.$background-color;
  box-shadow: 5px 5px 10px palette.$outer-box-shadow,
  -5px -5px 10px palette.$inner-box-shadow;
  transition: box-shadow 0.3s ease-in-out;
  color: palette.$label-color;
  width: 100%;

  &-header,
  &-footer {
    padding: 10px;
  }

  &-body {
    padding: 20px;
  }

  &:hover {
    box-shadow: 7px 7px 15px palette.$outer-box-shadow,
    -7px -7px 15px palette.$inner-box-shadow;
  }
}
