<div class="ks-card">
  <ng-container *ngIf="cardHeaderList?.length">
    <div class="ks-card-header">
      <ng-content select="[ksCardHeader]"></ng-content>
    </div>
  </ng-container>

  <ng-container *ngIf="cardBodyList?.length">
    <div class="ks-card-body">
      <ng-content select="[ksCardBody]"></ng-content>
    </div>
  </ng-container>

  <ng-container *ngIf="cardFooterList?.length">
    <div class="ks-card-footer">
      <ng-content select="[ksCardFooter]"></ng-content>
    </div>
  </ng-container>
</div>
