<ks-progress-bar [progress]="10"></ks-progress-bar>
<ks-progress-bar [progress]="50"></ks-progress-bar>
<ks-progress-bar [progress]="100"></ks-progress-bar>
<ks-divider></ks-divider>
<ks-pill>My Pill</ks-pill>
<ks-divider></ks-divider>
<div style="display: flex; align-items: center; justify-content: space-around">
  <ks-status-indicator status="success"></ks-status-indicator>
  <ks-status-indicator status="warning"></ks-status-indicator>
  <ks-status-indicator status="error"></ks-status-indicator>
  <ks-status-indicator status="info"></ks-status-indicator>
  <ks-status-indicator status="loading"></ks-status-indicator>
</div>
<ks-divider></ks-divider>
<ks-tooltip message="This is a tooltip!">
  <button ks-button>Hover me</button>
</ks-tooltip>
