<h3>formatBytes:</h3>
<div>0 | formatBytes - {{ 0 | formatBytes }}</div>
<div>100 | formatBytes - {{ 100 | formatBytes }}</div>
<div>100000 | formatBytes - {{ 100000 | formatBytes }}</div>
<ks-divider></ks-divider>
<h3>memo:</h3>
<div>100 | memo : divideTwo - {{ 100 | memo:divideTwo }}</div>
<ks-divider></ks-divider>
<h3>EllipsisPipe:</h3>
<div>Short text | ellipsis:100 - {{ 'Short text' | ellipsis:100 }}</div>
<div>Long long long long long long text | ellipsis:10 - {{ 'Long long long long long long text' | ellipsis:10 }}</div>
<ks-divider></ks-divider>
<h3>DefaultValuePipe:</h3>
<div>undefined | defaultValue:100 - {{ undefined | defaultValue:100 }}</div>
<div>null | defaultValue:42 - {{ null | defaultValue:42 }}</div>
<div>'' | defaultValue:42 - "{{ '' | defaultValue:42 }}"</div>
<ks-divider></ks-divider>
<h3>EnumPropertyPipe:</h3>
<div>A | enumProperty:&#123;A: 'abc', D: '42'&#125; - {{ $any('A') | enumProperty:{ A: 'abc', D: '42' } }}</div>
<ks-divider></ks-divider>
<h3>Truncate:</h3>
<div>long long long long text | truncate:10 - {{ 'long long long long text' | truncate:10 }}</div>
<ks-divider></ks-divider>
<h3>First:</h3>
<div>[1, 2, 3] | first - {{ [1, 2, 3] | first }}</div>
<ks-divider></ks-divider>
<h3>Last:</h3>
<div>[1, 2, 3] | last - {{ [1, 2, 3] | last }}</div>
<ks-divider></ks-divider>
<h3>Unique:</h3>
<div>[1, 2, 3, 1, 3, 4] | unique - {{ [1, 2, 3, 1, 3, 4] | unique }}</div>
<div>{{ "[{id: 1, name: '1'}, {id: 1, name: '1'}, {id: 2, name: '2'}]" }} | unique: 'id' - {{
    uniquePipeCollection | unique:$any(id) | json
  }}
</div>
<ks-divider></ks-divider>
<h3>Join:</h3>
<div>[1, 2, 3, 1, 3, 4] | join - {{ [1, 2, 3, 1, 3, 4] | join }}</div>
<div>{{ "['apple', 'banana', 'orange']" }} | join: ' :: ' - {{
    ['apple', 'banana', 'orange'] | join: ' :: '
  }}
</div>
<ks-divider></ks-divider>
<h3>Split:</h3>
<div>"hello,world" | split:',' - {{ "hello,world" | split:',' | json }}</div>
<div>"hello!&#64;world" | split:'!&#64;' - {{ "hello!@world" | split:'!@' | json }}</div>
<ks-divider></ks-divider>
<h3>User Name:</h3>
<div>{{ user | json }} | userName - {{ user | userName }}</div>
