<h3>formatBytes:</h3>
<div>0 | formatBytes - {{ 0 | formatBytes }}</div>
<div>100 | formatBytes - {{ 100 | formatBytes }}</div>
<div>100000 | formatBytes - {{ 100000 | formatBytes }}</div>
<ks-divider></ks-divider>
<h3>memo:</h3>
<div>100 | memo : divideTwo - {{ 100 | memo:divideTwo }}</div>
<ks-divider></ks-divider>
<h3>EllipsisPipe:</h3>
<div>Short text | ellipsis:100 - {{ 'Short text' | ellipsis:100 }}</div>
<div>Long long long long long long text | ellipsis:10 - {{ 'Long long long long long long text' | ellipsis:10 }}</div>
