@use '../core/palette';

$label-color: palette.$tundora;
$button-shadow-left: palette.$silver;
$button-shadow-right: palette.$white;
$button-disabled-color: palette.$tundora;
$button-disabled-background: palette.$concrete;

.neumorphic-button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: palette.$gallery;
  box-shadow: 5px 5px 10px $button-shadow-left, -5px -5px 10px $button-shadow-right;
  transition: box-shadow 0.3s ease-in-out;
  color: $label-color;

  &:hover {
    box-shadow: 7px 7px 15px $button-shadow-left, -7px -7px 15px $button-shadow-right;
  }

  &:active {
    box-shadow: inset 5px 5px 10px $button-shadow-left,
    inset -5px -5px 10px $button-shadow-right;
  }

  &:disabled {
    color: $button-disabled-color;
    background: $button-disabled-background;
    opacity: .5;
    cursor: no-drop;
    box-shadow: 7px 7px 15px $button-shadow-left, -7px -7px 15px $button-shadow-right;
  }
}
